@model IEnumerable<SalesWebMvc.Models.Departament>

@{ViewData["Title"] = "Departaments";}

<h2>Departaments</h2>
<p> <a asp-action="Create">Create new</a></p>

<table class ="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
</table>

